.search-page-content  {
    margin-left: 10%;
    margin-right:10%;
}

.more-blog-titles {
    word-wrap: break-word;
    box-sizing: border-box;
}

.title-link {
    display:inline-block;
    max-width: 100%;
}

.title-link h2 {
    margin-bottom: .2rem;
}